@import "./_variables.scss";
.primary-button {
  --primary-button-size: 108px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--primary-button-size);
  height: var(--primary-button-size);
  border-radius: var(--primary-button-size);
  border: solid 3px $color-11;
  //   background: white;
  cursor: pointer;
  span {
    position: relative;
    width: 15px;
    height: 15px;
    border-top: 3px solid $color-11;
    border-right: 3px solid $color-11;
    transform: rotate(45deg);
    left: -4px;
  }
  .mask {
    position: absolute;
    top: 27px;
    width: calc(var(--primary-button-size) - 3px);
    height: 54px;
    overflow: hidden;
    transition: $cubic-1 0.6s;
    .ring {
      position: absolute;
      top: -27px;
      width: calc(var(--primary-button-size) - 3px);
      height: calc(var(--primary-button-size) - 3px);
      border: solid 12px $color-11;
      border-radius: calc(var(--primary-button-size) - 3px);
      transition: $cubic-1 0.6s;
    }
  }
  &:hover {
    // span {
    //   width: 17px;
    //   height: 17px;
    //   border-top: 4px solid $color-11;
    //   border-right: 4px solid $color-11;
    //   left: -5px;
    //   transition: $cubic-1 0.6s;
    // }
    .mask {
      transform: rotate(270deg);
      -ms-transform: rotate(270deg); /* IE 9 */
      -webkit-transform: rotate(270deg);
      height: calc(var(--primary-button-size) - 3px);
      top: 0;
      .ring {
        top: 0px;
      }
    }
  }
}
