// Colors
$white: #fff;
$color-1: #d8e8f2;
$color-2: #6393a6;
$color-3: #2f6073;
$color-4: #012e40;
$color-5: #011c26;
$color-6: #9cb6d9;
$color-7: #7897bf;
$color-8: #466c8c;
$color-9: #1e2d40;
$color-10: #a6786d;
$color-11: darkgoldenrod;

// Cubic bezier
$cubic-1: cubic-bezier(0.95, 0.65, 0.15, 1);
