@import "../styles/__variables.scss";

.main-section {
  &-subpage {
    &_inner {
      background-image: linear-gradient(to top, $color-5, $color-4);
      height: 100vh;
    }
    margin-left: 0;
    .main-section {
      &__element {
        position: relative;
        padding-left: 0;
      }
      &__about-me {
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;
        @media (max-width: 1600px) {
          padding: 0 30px;
        }
      }
      &__left-side {
        position: absolute;
        display: flex;
        flex-direction: column;
        opacity: 0;
        > div {
          width: 100%;
        }
        .main-section__header {
        }
        .main-section__geometry-elements {
        }
        .main-section__subheader {
        }
        // top: 50%;
        // width: 50%;
        // transform: translateY(-65%);
        // z-index: 5;
      }
      &__right-side {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        &-inner {
          &-number {
            display: none;
          }
        }
      }
      &__element-button {
        position: absolute;
        left: 30px;
        bottom: 30px;
      }
    }
  }
}

#fp-nav {
  position: absolute;
  bottom: 0;
  left: 37px;
  z-index: 1;
  > ul {
    list-style: none;
    > li {
      line-height: 3px;
      > a {
        display: inline-block;
        margin: 10px 0;
        padding: 15px 0;
        &.active {
          > span {
            &:nth-child(2) {
              width: 50px;
              transition: $cubic-1 0.3s;
            }
          }
        }
        > span {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: block;
            width: 25px;
            height: 4px;
            background-color: $color-1;
            border-radius: 10px;
            transition: $cubic-1 0.3s;
          }
        }
      }
    }
  }
}
