@import "../styles/__variables.scss";

.header {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  height: 100vh;
  &__inner {
  }

  // Hamburger menu
  &__hamburger {
    // background-color: $color-1;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 150px;
    &-icon {
      position: relative;
      left: 0;
      top: 0;
      width: 34px;
      height: 34px;
      pointer-events: none;
      transition: 0.3s;
      svg {
        position: absolute;
        top: -18px;
        left: -18px;
        transform: scale(0.07);
        transform-origin: 0 0;
        path {
          stroke: $color-1;
          stroke-width: 40px;
          stroke-linecap: round;
          stroke-linejoin: round;
          fill: transparent;
          transition: stroke-dasharray 0.6s;
          transition: 0.4s;
          &.header__hamburger-path1 {
            stroke-dashoffset: 5803.15px;
            stroke-dasharray: 2901.57px, 2981.57px, 240px;
          }
          &.header__hamburger-path2 {
            stroke-dashoffset: 800px;
            stroke-dasharray: 400px, 480px, 240px;
          }
          &.header__hamburger-path3 {
            stroke-dashoffset: 6993.11px;
            stroke-dasharray: 3496.56px, 3576.56px, 240px;
          }
        }
      }
      &.header__hamburger-active {
        svg {
          path {
            stroke: $color-5;
            transition: 0.4s;
            &.header__hamburger-path1 {
              stroke-dasharray: 2901.57px, 5258.15px, 240px;
            }
            &.header__hamburger-path2 {
              stroke-dasharray: 400px, 600px, 0px;
            }
            &.header__hamburger-path3 {
              stroke-dasharray: 3496.56px, 6448.11px, 240px;
            }
          }
        }
      }
      &-button {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        pointer-events: auto;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        outline: none;
      }
    }
  }

  //   Info
  &__info {
    width: 70%;
    visibility: hidden;
    .header__info-inner {
      width: 100%;
      height: 100%;
      background-color: $color-1;
      transform: scaleX(0);
      transform-origin: 0px 0px;
      transition: $cubic-1 0.6s;
      transition-delay: 0.1s;
    }
    &--active {
      visibility: visible;
      .header__info-inner {
        transform: scaleX(1);
        transition: $cubic-1 0.6s;
        transition-delay: 0.1s;
      }
    }
  }
  &__empty {
    width: 30%;
    visibility: hidden;
    .header__empty-inner {
      width: 100%;
      height: 100%;
      background-color: $color-1;
      transform: scaleX(0);
      transform-origin: 0px 0px;
      transition: $cubic-1 0.3s;
      transition-delay: 0.2s;
    }
    &--active {
      visibility: visible;
      .header__empty-inner {
        transform: scaleX(1);
        transition: $cubic-1 0.3s;
        transition-delay: 0.2s;
      }
    }
    &--first-element {
      width: 100px;
      .header__empty-inner {
        transition: $cubic-1 0.4s;
      }
      .header__empty--active {
        .header__empty-inner {
          transition: $cubic-1 0.4s;
        }
      }
    }
  }
}
